<h1 mat-dialog-title>Add Product</h1>
<form (ngSubmit)="addProduct()" #addProductForm="ngForm">
  <div mat-dialog-content>
    <mat-form-field appearance="fill">
      <mat-label>Product Name</mat-label>
      <input matInput [(ngModel)]="product.name" name="name" required>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Price</mat-label>
      <input matInput type="number" [(ngModel)]="product.price" name="price" required>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Description</mat-label>
      <textarea matInput [(ngModel)]="product.description" name="description" required></textarea>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="dialogRef.close()">Cancel</button>
    <button mat-button color="primary" type="submit" [disabled]="!addProductForm.form.valid">Add</button>
  </div>
</form>